@model IEnumerable<JOB___PORTAL.Models.Jobs>

@{
    ViewData["Title"] = "Show_Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Show_Jobs</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillsRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastApplyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillsRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastApplyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderEmail)
            </td>
                <td>
                    <a asp-action="Apply" class="btn btn-outline-success" asp-route-id="@item.JobID" onclick="return confirm('Are You Sure Apply This Job @item.Company_Name,@item.Description?')">Apply</a>
                </td>
          
        </tr>
}
    </tbody>
</table>
