@model JOB___PORTAL.Models.Provider

@{
    ViewData["Title"] = "Your_Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your_Profile</h1>

<div>
    <h4>Provider</h4>
    <hr />
    <dl class="row">
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityQuestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityQuestion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityAnswer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityAnswer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit_Profile"class="btn btn-outline-dark" >Edit</a> |
   @*  <a asp-action="Index">Back to List</a> *@
</div>
